.block-xcp h2 {

  margin: 0 0 5px 0;
  padding: 0;

  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 200%;
  line-height: 1.2em;

  border-bottom: 2px solid #CC0033;
}

.block-xcp {
  font-size: xx-small;
}

.xcp-line-height-160 {
  line-height: 160%;
}

.xcp-line-height-80 {
  line-height: 80%;
}